<div class="surface-overlay p-2 sm:p-3 md:p-4 lg:p-5 xl:px-8 xl:py-7">
  <div class="grid justify-content-center flex-column lg:flex-row">
    <div class="col-12 mb-4 text-center">
      <div class="mb-3 font-bold font-medium text-blue-500 flex justify-content-center">
        <p-chip class="px-5 text-blue-500" label="WHY CHOOSE US"
                [style]="{ backgroundColor: 'rgba(21, 114, 211, 0.1)'}">
        </p-chip>
      </div>
      <div class="text-5xl font-bold line-height-3">Secure and flexible rentals</div>
      <div class="text-5xl font-bold line-height-3 mb-4">between real people</div>
    </div>

    <div class="col-12 lg:col-6 flex align-items-center flex-order-2 lg:flex-order-1">
      <img src="https://i.postimg.cc/YCbCrbKd/image-removebg-preview.png" class="border-round w-full" alt="product">
    </div>

    <div class="col-12 lg:col-6 py-4 lg:pr-4 flex-order-1 lg:flex-order-2">
      <div class="flex px-5 py-2">
        <i class="pi pi-lock text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Verified and secure</div>
          <p class="text-700">All users go through identity verification and 2FA to ensure safe transactions.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-dollar text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Price negotiation</div>
          <p class="text-700">Make counteroffers and reach fair rental agreements directly with the vehicle owner.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-check-circle text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Verified handover</div>
          <p class="text-700">Rentals are confirmed using a unique code once payment and delivery are completed.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-star text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Community-rated experience</div>
          <p class="text-700">Both renters and owners can leave reviews and build trust through transparent ratings.</p>
        </div>
      </div>
    </div>
  </div>
</div>
