<div class="surface-overlay px-8 py-6">
  <div class="grid justify-content-center flex-column lg:flex-row">
    <div class="col-12 lg:col-6 flex align-items-center flex-order-2 lg:flex-order-1">
      <img src="https://i.postimg.cc/YCbCrbKd/image-removebg-preview.png" class="border-round w-full" alt="product">
    </div>
    <div class="col-12 lg:col-6 py-4 lg:pr-4 flex-order-1 lg:flex-order-2">
      <div class="w-full block">
        <div class="mb-3 font-bold font-medium text-blue-500">
          <p-chip class="px-5 text-blue-500" label="WHY CHOOSE US"
                  [style]="{ backgroundColor: 'rgba(21, 114, 211, 0.1)'}">
          </p-chip>
        </div>
        <div class="text-5xl font-bold line-height-3">We offer the best experience</div>
        <div class="text-5xl font-bold line-height-3 mb-4">with our rental deals</div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-wallet text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Best price guaranteed</div>
          <p class="text-700">Find a lower price? We’ll refund you 100% of the difference.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-user text-4xl font-bold text-900 text-blue-500" ></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">Experience driver</div>
          <p class="text-700">Don’t have driver? Don’t worry, we have many experienced driver for you.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-calendar text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">24 hour car delivery</div>
          <p class="text-700">Book your car anytime and we will deliver it directly to you.</p>
        </div>
      </div>
      <div class="flex px-5 py-2">
        <i class="pi pi-headphones text-4xl font-bold text-900 text-blue-500"></i>
        <div class="ml-5">
          <div class="text-900 font-medium text-2xl">24/7 technical support</div>
          <p class="text-700">Have a question? Contact Rentcars support any time when you have problem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
