<div class="surface-overlay p-2 sm:p-3 md:p-4 lg:p-5 xl:px-8 text-center">
  <div class="mb-3 font-bold font-medium text-blue-500">
    <p-chip class="px-5 text-blue-500" label="POPULAR RENTAL DEALS"
            [style]="{ backgroundColor: 'rgba(21, 114, 211, 0.1)'}">
    </p-chip>
  </div>

  <div class="mb-3 font-bold text-5xl mb-6">
    <span class="text-900">Most popular car rental deals</span>
  </div>

  <div class="grid">
    <div class="col-12 md:col-6 xl:col-3 p-3">
      <div class="surface-card shadow-3 border-round-lg p-4 transition-all hover:shadow-5 hover:scale-105"
           style="border-radius: 122px; background-color: white;">
        <img src="https://i.postimg.cc/L6YHKLm1/jaguar.png" class="mb-2 w-full border-round"/>

        <div class="text-xl font-semibold text-900 mb-2">Jaguar XE L P250</div>
        <div class="text-sm text-600 flex align-items-center">
          <i class="pi pi-star-fill text-yellow-500 mr-2"></i> 4.8 (2,436 reviews)
        </div>

        <ul class="list-none mt-3 mb-4 p-0 text-left text-600">
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i> 4 Passengers</span>
            <span><i class="pi pi-gauge mr-2"></i> Auto</span>
          </li>
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-asterisk mr-2"></i> Air Conditioning</span>
            <span><i class="pi pi-wallet mr-2"></i> 4 Doors</span>
          </li>
          <li class="py-2 flex justify-content-between font-bold text-lg">
            <span>Price</span>
            <span class="text-blue-500">$1800/day</span>
          </li>
        </ul>

        <p-button label="Rent Now" icon="pi pi-arrow-right" class="w-full  text-white font-bold p-button-lg">
        </p-button>
      </div>
    </div>

    <div class="col-12 md:col-6 xl:col-3 p-3">
      <div class="surface-card shadow-3 border-round-lg p-4 transition-all hover:shadow-5 hover:scale-105"
           style="border-radius: 12px; background-color: white;">
        <img src="https://i.postimg.cc/K8tx4bkc/audi.png" class="mb-4 w-full border-round"/>

        <div class="text-xl font-semibold text-900 mb-2">Audi A6</div>
        <div class="text-sm text-600 flex align-items-center">
          <i class="pi pi-star-fill text-yellow-500 mr-2"></i> 4.7 (1,936 reviews)
        </div>

        <ul class="list-none mt-3 mb-4 p-0 text-left text-600">
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i> 4 Passengers</span>
            <span><i class="pi pi-gauge mr-2"></i> Auto</span>
          </li>
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-asterisk mr-2"></i> Air Conditioning</span>
            <span><i class="pi pi-wallet mr-2"></i> 4 Doors</span>
          </li>
          <li class="py-2 flex justify-content-between font-bold text-lg">
            <span>Price</span>
            <span class="text-blue-500">$1750/day</span>
          </li>
        </ul>

        <p-button label="Rent Now" icon="pi pi-arrow-right" class="w-full text-white font-bold p-button-lg">
        </p-button>
      </div>
    </div>

    <div class="col-12 md:col-6 xl:col-3 p-3">
      <div class="surface-card shadow-3 border-round-lg p-4 transition-all hover:shadow-5 hover:scale-105"
           style="border-radius: 12px; background-color: white;">
        <img src="https://i.postimg.cc/T1yXxvv6/bmw.png" class="mb-3 w-full border-round"/>

        <div class="text-xl font-semibold text-900 mb-2">BMW 5 Series</div>
        <div class="text-sm text-600 flex align-items-center">
          <i class="pi pi-star-fill text-yellow-500 mr-2"></i> 4.9 (2,821 reviews)
        </div>

        <ul class="list-none mt-3 mb-4 p-0 text-left text-600">
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i> 4 Passengers</span>
            <span><i class="pi pi-gauge mr-2"></i> Auto</span>
          </li>
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-asterisk mr-2"></i> Air Conditioning</span>
            <span><i class="pi pi-wallet mr-2"></i> 4 Doors</span>
          </li>
          <li class="py-2 flex justify-content-between font-bold text-lg">
            <span>Price</span>
            <span class="text-blue-500">$1900/day</span>
          </li>
        </ul>

        <p-button label="Rent Now" icon="pi pi-arrow-right" class="w-full text-white font-bold p-button-lg">
        </p-button>
      </div>
    </div>

    <div class="col-12 md:col-6 xl:col-3 p-3">
      <div class="surface-card shadow-3 border-round-lg p-4 transition-all hover:shadow-5 hover:scale-105"
           style="border-radius: 12px; background-color: white;">
        <img src="https://i.postimg.cc/vZ7wbvkc/lamboriguini.png" class="mb-5 w-full border-round"/>

        <div class="text-xl font-semibold text-900 mb-2">Lamborghini Huracán</div>
        <div class="text-sm text-600 flex align-items-center">
          <i class="pi pi-star-fill text-yellow-500 mr-2"></i> 4.9 (3,102 reviews)
        </div>

        <ul class="list-none mt-3 mb-4 p-0 text-left text-600">
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-user mr-2"></i> 2 Passengers</span>
            <span><i class="pi pi-gauge mr-2"></i> Auto</span>
          </li>
          <li class="py-2 flex justify-content-between">
            <span><i class="pi pi-asterisk mr-2"></i> Air Conditioning</span>
            <span><i class="pi pi-wallet mr-2"></i> 2 Doors</span>
          </li>
          <li class="py-2 flex justify-content-between font-bold text-lg">
            <span>Price</span>
            <span class="text-blue-500">$2500/day</span>
          </li>
        </ul>
        <p-button label="Rent Now" icon="pi pi-arrow-right" class="w-full text-white font-bold p-button-lg">
        </p-button>
      </div>
    </div>
  </div>
  <div>
    <button pButton pRipple label="Show all vehicles" icon="pi pi-arrow-right" class="ml-3 p-button text-color font-bold border-bottom-3 bg-white border-gray-300"></button>
  </div>
</div>
