<div class="surface-overlay px-8 py-6 md:px-6 lg:px-8 text-center">

  <div class="mb-3 font-bold font-medium text-blue-500">
    <p-chip class="px-5" label="HOW IT WORK"
            [style]="{ backgroundColor: 'rgba(21, 114, 211, 0.1)'}">
    </p-chip>
  </div>

  <div class="mb-3 font-bold text-3xl mb-6">
    <span class="text-900">Rent with following 3 working steps</span>
  </div>

  <div class="grid">
    <div class="col-12 md:col-4 mb-4 text-center">
                <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px; background-color: rgba(21, 114, 211, 0.1)">
                    <i class="pi pi-map-marker text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 text-xl mb-3 font-medium">Choose location</div>
      <span class="text-700 text-center block line-height-3">Choose your and find</span>
      <span class="text-700 text-center block line-height-3">your best car</span>
    </div>
    <div class="col-12 md:col-4 mb-4">
                <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-calendar text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 text-xl mb-3 font-medium">Pick-up date</div>
      <span class="text-700 text-center block line-height-3">Select your pick up date and</span>
      <span class="text-700 text-center block line-height-3">time to book your car</span>
    </div>
    <div class="col-12 md:col-4 mb-4">
                <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-car text-4xl text-blue-500"></i>
                </span>
      <div class="text-900 text-xl mb-3 font-medium">Book your car</div>
      <span class="text-700 text-center block line-height-3">Book your car and we will deliver</span>
      <span class="text-700 text-center block line-height-3">it directly to you</span>
    </div>

  </div>
</div>

<app-carousel-brands></app-carousel-brands>
