<div class="surface-overlay p-2 sm:p-3 md:p-4 lg:p-5 xl:px-8 xl:py-7 text-center">
  <div class="mb-3 font-bold font-medium text-blue-500">
    <p-chip class="px-5 text-blue-500" label="HOW IT WORKS"
            [style]="{ backgroundColor: 'rgba(21, 114, 211, 0.1)'}">
    </p-chip>
  </div>

  <div class="mb-3 font-bold text-5xl mb-6">
    <span class="text-900">Rent with following 4 working steps</span>
  </div>

  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 text-center">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card"
            style="border-radius: 10px; background-color: rgba(21, 114, 211, 0.1)">
        <i class="pi pi-user-plus text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Sign up & log in</div>
      <span class="text-700 text-center block line-height-3">Create your account, verify your identity</span>
      <span class="text-700 text-center block line-height-3">and log in with 2FA security</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-3">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-search text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Explore and make an offer</div>
      <span class="text-700 text-center block line-height-3">Find the ideal vehicle, check its availability,</span>
      <span class="text-700 text-center block line-height-3">and submit a counteroffer if needed</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-3">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-check-circle text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Confirm the rental</div>
      <span class="text-700 text-center block line-height-3">Get the verification code from the owner</span>
      <span class="text-700 text-center block line-height-3">to confirm payment and car delivery</span>
    </div>

    <div class="col-12 sm:col-6 md:col-4 lg:col-3">
      <span class="p-5 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-star text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-2xl mb-3 font-medium">Rate your experience</div>
      <span class="text-700 text-center block line-height-3">After the rental, leave a review</span>
      <span class="text-700 text-center block line-height-3">and help improve our community</span>
    </div>
  </div>
</div>

<app-carousel-brands></app-carousel-brands>
